In [3]:
import pandas as pd
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
frame

           a
0  -1.296385
1  -0.082441
2  -0.340865
3   0.150552
4  -0.242218
..       ...
95  0.098752
96  1.085299
97 -1.266725
98 -1.941206
99 -0.286429

[100 rows x 1 columns]

In [4]:
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [5]:
store['obj1']

           a
0  -1.296385
1  -0.082441
2  -0.340865
3   0.150552
4  -0.242218
..       ...
95  0.098752
96  1.085299
97 -1.266725
98 -1.941206
99 -0.286429

[100 rows x 1 columns]

In [6]:
store.put('obj2',frame,format='table')
store.select('obj2',where=['index >=10 and index <=15'])

           a
10 -0.481173
11 -2.113207
12 -1.367581
13 -0.031217
14  0.379977
15  0.679445

In [7]:
store.close()

In [8]:
frame.to_hdf('mydata.h5','obj3',format='table')
pd.read_hdf('mydata.h5','obj3',where=['index <5'])

          a
0 -1.296385
1 -0.082441
2 -0.340865
3  0.150552
4 -0.242218

In [9]:
writer=pd.ExcelWriter('mydata.xlsx')
frame.to_excel(writer,'Sheet1')
writer.save()

/var/folders/6l/0rnqwtgd2lqfvr4vcry4xjrc0000gn/T/ipykernel_7825/3989101254.py:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [10]:
frame=pd.read_excel('mydata.xlsx','Sheet1')
frame

    Unnamed: 0         a
0            0 -1.296385
1            1 -0.082441
2            2 -0.340865
3            3  0.150552
4            4 -0.242218
..         ...       ...
95          95  0.098752
96          96  1.085299
97          97 -1.266725
98          98 -1.941206
99          99 -0.286429

[100 rows x 2 columns]

In [11]:
import requests

In [12]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [13]:
data=resp.json()
data[0]['title']

'BUG: `to_datetime` does not support `format="%y%m%d"`'

In [23]:
import sqlite3

In [24]:
query="""
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
    c REAL,        d INTEGER
);"""
con=sqlite3.connect(':memory:')
con.execute(query)

In [25]:
con.commit()

In [26]:
data=[('Atlanta','Georgia',1.25,6),
        ('Tallahassee','Florida',2.6,3),
        ('Sacramento','California',1.7,5)]
stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)

In [27]:
cursor=con.execute('select * from test')
rows=cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [28]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [29]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [30]:
import sqlalchemy as sqla
db=sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test',db)

OperationalError: (sqlite3.OperationalError) no such table: test
[SQL: select * from test]
(Background on this error at: https://sqlalche.me/e/14/e3q8)