In [1]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [4]:
b.sort(reverse=True, key=len)
b

['small', 'foxes', 'six', 'saw', 'He']

In [21]:
import bisect
c=[1,2,3,5,8,4,7]
bisect.bisect(c,2)

2

In [30]:

c.sort()
print(c)
bisect.bisect(c,4)

[1, 2, 3, 4, 5, 7, 8]

4

In [32]:
c[1:6]

[2, 3, 4, 5, 7]

In [33]:
c[1:6]=[6,6,6,6,6]
c

[1, 6, 6, 6, 6, 6, 8]

In [34]:
c[:6]

[1, 6, 6, 6, 6, 6]

In [35]:
c[4:]

[6, 6, 8]

In [36]:
c[-2:]

[6, 8]

In [37]:
c[:-2]

[1, 6, 6, 6, 6]

In [39]:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

enumerate 函数，可以返回 (i, value) 元组序列

In [40]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [41]:
mapping={}
for i,v in enumerate(['tic','tac','toe']):
    mapping[i]=v
mapping

{0: 'tic', 1: 'tac', 2: 'toe'}

In [43]:
seq1=['foo','bar','baz']
seq2=['one','two','three']
zipped=zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip 可以处理任意多的序列，元素的个数取决于最短的序列:

In [44]:
seq3=[False,True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [45]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [48]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [52]:
first_name,last_name=zip(*pitchers)
first_name

('Nolan', 'Roger', 'Schilling')

只有实体化(即列表或for循环)之后才能创建 翻转的序列。

In [53]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [54]:
dict1={'a':'some value','b':[1,2,3,4]}
dict1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [57]:
dict1[7]='an integer'
dict1['foo']=3.14
dict1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'foo': 3.14}

In [58]:
'foo' in dict1

True

In [59]:
'test' in dict1

False

In [60]:
del dict1[7]
dict1

{'a': 'some value', 'b': [1, 2, 3, 4], 'foo': 3.14}

In [61]:
ret=dict1.pop('foo')
ret

3.14

In [62]:
dict1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [63]:
mapping=dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [65]:
words=['apple','bat','bar','atom','book']
words

['apple', 'bat', 'bar', 'atom', 'book']

In [67]:
words.sort(key=len,reverse=True)
words

['apple', 'atom', 'book', 'bat', 'bar']

In [70]:
by_letter={}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['book', 'bat', 'bar']}

传递类型或函数 以生成每个位置的默认值:

In [73]:
by_letter_1={}
for word in words:
    letter=word[0]
    by_letter_1.setdefault(letter,[]).append(word)
by_letter_1

{'a': ['apple', 'atom'], 'b': ['book', 'bat', 'bar']}

In [77]:
hash('string')

7231943873090705016

In [81]:
hash((1,2,(1,2)))

-1429464707349485113

In [82]:
d={}
d[tuple([1,2,3])]=5
d

{(1, 2, 3): 5}

In [83]:
hash(d) #TypeError: unhashable type: 'dict'

TypeError: unhashable type: 'dict'

In [85]:
set = {1,2,3,4,6,6,6,6,9,10}
set

{1, 2, 3, 4, 6, 9, 10}

In [86]:
{1,2,3,4,6,6,6,6,9,10}

{1, 2, 3, 4, 6, 9, 10}

In [87]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
a.intersection(b)

{3, 4, 5}

In [90]:
a&b

{3, 4, 5}

In [92]:
a.union(b)==b.union(a)

True

In [94]:
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [95]:
a.clear()
a

set()

In [99]:
a={1,2,3,4,5}
a.remove(4)
a

{1, 2, 3, 5}

In [100]:
a.pop()
a

{2, 3, 5}

In [101]:
a.update([1,2,3,4,5,6,7,8,9,10])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [103]:
print(f'b:{b}')
a.intersection(b)

b:{3, 4, 5, 7, 8}

{3, 4, 5, 7, 8}

In [105]:
a.intersection_update(b)
a

{3, 4, 5, 7, 8}

In [106]:
a={1,2,3,4,5}
a.difference(b)

{1, 2}

In [107]:
a.difference_update(b)
a

{1, 2}

In [108]:
a={1,2,3,4,5}
a.symmetric_difference(b) #对称差集 a^b

{1, 2, 7, 8}

In [109]:
a.symmetric_difference_update(b)
a

{1, 2, 7, 8}

In [113]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9,10}
a.issubset(b)

True

In [114]:
print(a.issuperset(b))
b.issuperset(a)

False

True

In [115]:
a.isdisjoint(b)

False

In [116]:
c=a.copy()
c|=b
c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [117]:
d=a.copy()
d&=b
d

{1, 2, 3, 4, 5}

与字典类似，集合元素通常都是不可变的。要获得类似列表的元素，必须转换成元组:

In [118]:
my_data=[1,2,3,4]
my_set={tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [119]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [120]:
a_set.intersection({1,2,3})

{1, 2, 3}

In [121]:
{1,2,3}=={3,2,1}

True

[expr for iter_var in iterable if cond_expr]

In [122]:
strings=['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [123]:
[x.upper() for x in strings if len(x)<3]

['A', 'AS']

In [125]:
unique_lengths={len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [131]:
loc_mapping={val:index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [132]:
all_data=[['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [138]:
names_of_interest=[]
for names in all_data:
    enough_es=[name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)
names_of_interest

AttributeError: 'dict' object has no attribute 'append'

In [139]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]
flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
some_tuples_tuples=[((1,2,3),(4,5,6),(7,8,9)),((10,11,12),(13,14,15),(16,17,18)),((19,20,21),(22,23,24),(25,26,27))]
flattened=[i for tup in some_tuples_tuples for x in tup for i in x]
flattened

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27]

这段代码使用了列表推导式来展开一个嵌套的元组列表。具体来说，它首先遍历了 `some_tuples_tuples` 中的每个元组 tup，然后遍历了 tup 中的每个元组 x，最后遍历了 x 中的每个元素 i，并将其添加到 `flattened` 列表中。这样，flattened 列表就包含了 `some_tuples_tuples` 中所有元组中的所有元素

In [143]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [144]:
my_function(5,6,z=0.7)

0.06363636363636363

In [145]:
my_function(x=5,y=6,z=0.7)

0.06363636363636363

In [147]:
a=None
def bind_a_variable():
    global a
    a=123
bind_a_variable()
a

123

In [154]:
def f():
    a=5
    b=6
    c=7
    return {'a':a,'b':b,'c':c}

# Unpack the values into variables using the keys of the dictionary
data = f()
d = data['a']
e = data['b']
f = data['c']
d

5

In [155]:
states=['   Alabama ','Georgia!','Georgia','georgia','FlOrIda','south   carolina##','West virginia?']

In [158]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip() #去除了字符串两端的空格
        value=re.sub('[!#?]','',value) #正则表达式,去除特殊字符
        value=value.title() #首字母大写
        result.append(value) #添加到列表
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [161]:
value = '  b   a  **&  c  '
value = value.strip()
value

'b   a    c'

In [163]:
value = re.sub('[!#?]','',value)
value

'b   a    c'

In [169]:
value = value.title()
value

'B   A    C'

In [170]:
value='sffs svvd'
value.title()

'Sffs Svvd'

In [ ]:
def short_function(x):
    return x*2
equiv_anon=lambda x:x*2

In [171]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

ints=[4,0,1,5,6]
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

In [173]:
def add_numbers(x,y):
    return x+y

add_five=lambda y:add_numbers(5,y)
print(add_five(10))
add_=lambda x,y:add_numbers(x,y)
print(add_(5,10))

15
15

In [174]:
from functools import partial
add_six=partial(add_numbers,6)
print(add_six(10))

16

In [177]:
some_dict={'a':1,'b':2,'c':3}
for key in some_dict.keys():
    print(key)
for value in some_dict.values():
    print(value)

a
b
c
1
2
3

In [179]:
dict_iterator=iter(some_dict.items())
list(dict_iterator)

[('a', 1), ('b', 2), ('c', 3)]

In [181]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [184]:
gen=squares(20)
for x in gen:
    print(x,end=' ')

Generating squares from 1 to 400
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [190]:
print('')
print('{0}'.format(x**2))

160000

In [197]:
gen=(x**2 for x in range(100))
for x in gen:
    print(x,end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [198]:
def _make_gen():
    for x in range(100):
        yield x**2

for x in _make_gen():
    print(x,end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [200]:
sum(x for x in range(100))

4950

In [201]:
import itertools
first_letter=lambda x:x[0]
names=['Alan','Adam','Wes','Will','Albert','Steven']
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [207]:
float('1.2345')
float('nan')

nan

In [208]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float('1.2345')

1.2345

In [209]:
attempt_float('something')

'something'

In [210]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float('something')

'something'

In [212]:
def write_to_file(file):
    file.write("Hello, world!")
f=open("./test",'w')
try:
    write_to_file(f)
except:
    print('Failed')
finally:
    f.close()

In [215]:
%xmode Verbose

Exception reporting mode: Verbose

In [225]:
path='./test'
f=open(path,'w')
f.write('hello')
f.close()
f=open(path)
for line in f:
    pass
lines=[x.rstrip() for x in open(path)]
lines

['hello']

In [226]:
f=open(path,'r') # 'r' 读取文件
f=open(path,'w') # 'w' 写入文件
f=open(path,'a') # 'a' 追加写入文件
f=open(path,'x') # 'x' 写入文件，如果文件已经存在则失败
f=open(path,'b') # 'b' 二进制模式
f=open(path,'r+') # 'r+' 读写模式
f=open(path,'U') # 'U' 支持通用换行符模式

FileExistsError: [Errno 17] File exists: './test'

In [235]:
f=open(path,'rb')
f.read(4)

b'hell'

In [236]:
f.tell()

4

In [238]:
import sys

sys.getdefaultencoding()

'utf-8'

seek将文件位置更改为文件中的指定字节:

In [243]:
f.seek(0)

0

In [244]:
f.read(1)

b'h'

In [ ]:
f.close()