In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
now = datetime.now()
now

In [ ]:
now.year, now.month, now.day

In [ ]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

In [ ]:
delta.days

In [ ]:
from datetime import timedelta

In [ ]:
start = datetime(2011, 1, 7)
start + timedelta(12)

In [ ]:
start - 2 * timedelta(12)

In [ ]:
stamp = datetime(2011, 1, 3)
str(stamp)

In [ ]:
stamp.strftime('%Y-%m-%d')

In [ ]:
value='2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

In [ ]:
from dateutil.parser import parse

In [ ]:
parse('2011-01-03')

In [ ]:
parse('Jan 31, 1997 10:45 PM')

In [ ]:
parse('6/12/2011', dayfirst=True)

In [ ]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

In [ ]:
idx=pd.to_datetime(datestrs+[None])
idx

In [ ]:
pd.isnull(idx)

In [ ]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts=pd.Series(np.random.randn(6),index=dates)
ts

In [ ]:
ts.index

In [ ]:
ts+ts[::2]

In [ ]:
stamp=ts.index[0]
stamp

In [ ]:
stamp=ts.index[2]
ts[stamp]

In [ ]:
ts['1/10/2011']==ts['20110110']

In [ ]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts

In [ ]:
longer_ts['2001']

In [ ]:
longer_ts['2001-05']

In [ ]:
ts[datetime(2011,1,7):]

In [ ]:
ts

In [ ]:
ts['1/6/2011':'1/11/2011']

In [ ]:
ts.truncate(after='1/9/2011')

In [ ]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])
long_df.loc['5-2001']

In [ ]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts=pd.Series(np.arange(5),index=dates)
dup_ts

In [ ]:
dup_ts.index.is_unique

In [ ]:
dup_ts['1/3/2000']

In [ ]:
dup_ts['1/2/2000']

In [ ]:
grouped=dup_ts.groupby(level=0)
grouped.mean()

In [ ]:
grouped.count()

In [ ]:
index=pd.date_range('2000-01-01',periods=100,freq='D')
index

In [ ]:
pd.date_range(start='2012-04-01',end='2012-06-01',freq='BM')

In [ ]:
from pandas.tseries.offsets import Hour,Minute

In [ ]:
hour=Hour()
hour

In [ ]:
four_hours=Hour(4)
four_hours

In [ ]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

In [ ]:
Hour(2)+Minute(30)

In [ ]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

In [ ]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')
list(rng)

In [ ]:
ts=pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

In [ ]:
ts.shift(2)

In [ ]:
ts.shift

In [ ]:
ts/ts.shift(1)-1

In [ ]:
ts.shift(2,freq='M')

In [ ]:
ts.shift(3,freq='D')

In [ ]:
ts.shift(1,freq='90T')

In [ ]:
from pandas.tseries.offsets import Day,MonthEnd

In [ ]:
now=datetime(2011,11,17)
now+3*Day()

In [ ]:
now+MonthEnd()

In [ ]:
now+MonthEnd(2)

In [ ]:
offset=MonthEnd()
offset.rollforward(now)

In [ ]:
offset.rollback(now)

In [ ]:
ts=pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

In [ ]:
ts.resample('M').mean()

In [ ]:
import pytz

In [ ]:
pytz.common_timezones[-5:]

In [ ]:
tz=pytz.timezone('America/New_York')
tz

In [ ]:
rng=pd.date_range('3/9/2012 9:30',periods=6,freq='D')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

In [ ]:
print(ts.index.tz)

In [ ]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

In [ ]:
ts_utc=ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_eastern=ts.tz_localize('America/New_York')
ts_eastern

In [ ]:
ts_eastern.tz_convert('UTC')

In [ ]:
ts_eastern.tz_convert('Europe/Berlin')

In [ ]:
ts.index.tz_localize('Asia/Shanghai')

In [ ]:
stamp=pd.Timestamp('2011-03-12 04:00')
stamp_utc=stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

In [ ]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')
stamp_moscow

In [ ]:
stamp_utc.value

In [ ]:
stamp_utc.tz_convert('America/New_York').value

In [ ]:
from pandas.tseries.offsets import Hour

In [ ]:
stamp=pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')
stamp

In [ ]:
stamp+Hour()

In [ ]:
stamp+2*Hour()

In [ ]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

In [ ]:
ts1=ts[:7].tz_localize('Europe/London')
ts2=ts1[2:].tz_convert('Europe/Moscow')
result=ts1+ts2
result.index

In [ ]:
p=pd.Period(2007,freq='A-DEC')
p

In [ ]:
p+5

In [ ]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')
rng

In [ ]:
pd.Series(np.random.randn(6),index=rng)

In [ ]:
values=['2001Q3','2002Q2','2003Q1']
index=pd.PeriodIndex(values,freq='Q-DEC')
index

In [ ]:
p=pd.Period('2007',freq='A-DEC')
p

In [ ]:
p.asfreq('M',how='start')

In [ ]:
p.asfreq('M',how='end')

In [ ]:
p=pd.Period('2007',freq='A-JUN')
p

In [ ]:
from pandas import Period


p=pd.Period('Aug-2007','M')
p.asfreq('A-JUN')

In [ ]:
rng=pd.period_range('2006','2009',freq='A-DEC')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

In [ ]:
rng=pd.date_range('1/1/2000',periods=12,freq='T')
ts=pd.Series(np.arange(12),index=rng)
ts

In [ ]:
ts.resample('5min',closed='right').sum() # closed='right' 闭合右边

In [ ]:
ts.resample('5min',closed='right',label='right').sum()

In [ ]:
ts.resample('5min',closed='right',label='right',loffset='-1s').sum()

In [ ]:
ts.resample('5min').ohlc()

In [ ]:
frame=pd.DataFrame(np.random.randn(2,4),index=pd.date_range('1/1/2000',periods=2,freq='W-WED'),columns=['Colorado','Texas','New York','Ohio'])
frame

In [ ]:
df_daily=frame.resample('D').asfreq()
df_daily

In [ ]:
frame.resample('D').ffill()

In [ ]:
frame.resample('W-THU').ffill()

In [ ]:
frame=pd.DataFrame(np.random.randn(24,4),index=pd.period_range('1-2000','12-2001',freq='M'),columns=['Colorado','Texas','New York','Ohio'])
frame[:5]

In [ ]:
annual_frame=frame.resample('A-DEC').mean()
annual_frame

In [ ]:
annual_frame.resample('Q-DEC').ffill()

In [ ]:
annual_frame.resample('Q-DEC',convention='end').ffill()

In [ ]:
annual_frame.resample('Q-MAR').ffill()