In [ ]:
import pandas as pd 
from pandas import Series, DataFrame
import numpy as np

In [ ]:
obj=Series([4,7,-5,3])
print(obj)

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2=Series([4,7,-5,3],index=['d','b','a','c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2[obj2>0]

In [ ]:
obj2*2

In [ ]:
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3=Series(sdata)
obj3

In [ ]:
states=['California','Ohio','Oregon','Texas']
obj4=Series(sdata,index=states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj4+obj3

In [ ]:
obj4.name='population'
obj4.index.name='state'
obj4

In [ ]:
obj

In [ ]:
obj.index=['Bob','Steve','Jeff','Ryan']
obj

In [ ]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.4,2.9]}
frame=DataFrame(data)
frame

In [ ]:
frame.head()

In [ ]:
DataFrame(data,columns=['year','state','pop'])

In [ ]:
frame2=DataFrame(data,columns=['year','state','pop','debt'],
                    index=['one','two','three','four','five'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt']=16.5
frame2

In [ ]:
frame2['debt']=np.arange(5.)
frame2

In [ ]:
val=Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2['debt']=val
frame2

In [ ]:
frame2['eastern']=frame2.state=='Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2

In [ ]:
frame2.columns

In [ ]:
pop={'Nevada':{2001:2.4,2002:2.9},
        'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3=DataFrame(pop)
frame3

嵌套字典传给DataFrame，pandas就会被解释为:外层字典的键作为列，内层键则作为行索 引:

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop,index=[2001,2002,2003])

In [ ]:
pdata={'Ohio':frame3['Ohio'][:-1],
        'Nevada':frame3['Nevada'][:2]}
DataFrame(pdata)

In [ ]:
frame3.index.name='year';frame3.columns.name='state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
obj=Series(range(3),index=['a','b','c'])
index=obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1:]=['d','e','f']

In [ ]:
labels=pd.Index(np.arange(3))
labels

In [ ]:
obj2=Series([1.5,-2.5,0],index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels=pd.Index(['foo','foo','bar','bar'])
dup_labels

In [ ]:
labels=pd.Index(['a','b','c','d','e'])
obj=Series([1.5,-2.5,0,5,6],index=labels)
obj

In [ ]:
labels.append(pd.Index(['f']))
obj.reindex(['a','b','c','d','e','f'])

In [ ]:
labels2=pd.Index(['b','c','d','e','f','g'])
labels.difference(labels2)

In [ ]:
labels.intersection(labels2)

In [ ]:
labels.union(labels2)

In [ ]:
labels.isin(labels2)

In [ ]:
labels.delete(2)
labels.drop('c')

In [ ]:
labels.insert(2,'c')
labels

In [ ]:
labels.is_monotonic

In [ ]:
labels.is_unique

In [ ]:
obj=Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
obj

In [ ]:
obj2=obj.reindex(['a','b','c','d','e'])
obj2

In [ ]:
obj3=Series(['blue','purple','yellow'],index=[0,2,4])
obj3

In [ ]:
obj3.reindex(range(6),method='ffill')

使用ffill可以实现前向值填充

In [ ]:
frame=DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],
                    columns=['Ohio','Texas','California'])
frame

In [ ]:
frame2=frame.reindex(['a','b','c','d'])
frame2

In [ ]:
states=['Texas','Utah','California']
frame.reindex(columns=states)

In [ ]:
obj=Series(np.arange(5.),index=['a','b','c','d','e'])
obj

In [ ]:
new_obj=obj.drop('c')
new_obj

In [ ]:
obj.drop(['d','c'])

In [ ]:
data=DataFrame(np.arange(16).reshape((4,4)),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
data

In [ ]:
data.drop(['Colorado','Ohio'])

In [ ]:
data.drop(['two','four'],axis=1)

In [ ]:
obj.drop('c',inplace=True)
obj

In [ ]:
obj=Series(np.arange(4.),index=['a','b','c','d'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b','a','d']]

In [ ]:
obj[[1,3]]

In [ ]:
obj[obj<2]

In [ ]:
obj['b':'c'] # 利用标签的切片运算与普通的Python切片运算不同，其末端是包含的

In [ ]:
obj['b':'c']=5
obj

In [ ]:
data=DataFrame(np.arange(16).reshape((4,4)),
                    index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])
data

In [ ]:
data['two']

In [ ]:
data[['three','one']]

In [ ]:
data[:2]

In [ ]:
data[data['three']>5]

In [ ]:
data<5

In [ ]:
data.loc['Colorado',['two','three']]

In [ ]:
data.iloc[2,[3,0,1]]

In [ ]:
data.iloc[[1,2],[3,0,1]].T

In [ ]:
data.loc[:'Utah','two']

In [ ]:
data.iloc[:,:3][data.three>5]

In [ ]:
ser=Series(np.arange(3.))
ser[-1]

In [ ]:
ser2=Series(np.arange(3.),index=['a','b','c'])
ser2[-1]

In [ ]:
ser[:1]

In [ ]:
ser.loc[:1]

In [ ]:
ser.iloc[:1]

In [ ]:
s1=Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2=Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])
s1+s2

In [ ]:
df1=DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),
                    index=['Ohio','Texas','Colorado'])
df2=DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),
                    index=['Utah','Ohio','Texas','Oregon'])
df1+df2

In [ ]:
df1-df2

In [ ]:
df1=DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2=DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df2.loc[1,'b']=np.nan
df1

In [ ]:
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

In [ ]:
1/df1==df1.rdiv(1)

In [ ]:
df1.radd(1)

In [ ]:
df1.rsub(1)

In [ ]:
df1.rmul(2)

In [ ]:
df1.rdiv(2)

In [ ]:
df1.floordiv(2)

In [ ]:
df1.rpow(2)

In [ ]:
df1.reindex(columns=df2.columns,fill_value=0)

In [ ]:
arr=np.arange(12.).reshape((3,4))
arr

In [ ]:
arr[0]

In [ ]:
arr-arr[0]

In [ ]:
frame=DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),
                    index=['Utah','Ohio','Texas','Oregon'])
series=frame.iloc[0]
frame

In [ ]:
series

In [ ]:
frame-series

In [ ]:
series=frame.loc['Utah']
frame-series

In [ ]:
series2=Series(range(3),index=['b','e','f'])
frame+series2

In [ ]:
series3=frame['d']
frame.sub(series3,axis=0) # axis=0表示按行进行广播

In [ ]:
frame=DataFrame(np.random.randn(4,3),columns=list('bde'),
                    index=['Utah','Ohio','Texas','Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f=lambda x:x.max()-x.min()
frame.apply(f)

In [ ]:
frame.apply(f,axis=1)

In [ ]:
def f(x):
    return Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)

In [ ]:
frame=DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],
                    columns=['d','a','b','c'])
frame

In [ ]:
frame.apply(f)  # 默认按列进行操作

In [ ]:
format=lambda x:'%.2f'%x # 保留两位小数
frame.applymap(format)

In [ ]:
frame['e']=np.random.randn(2)
frame

In [ ]:
frame['e'].map(format)
frame

In [ ]:
obj=Series(range(4),index=['d','a','b','c'])
obj.sort_index()

In [ ]:
frame=DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],
                    columns=['d','a','b','c'])
frame.sort_index() # 默认按行进行排序

In [ ]:
frame.sort_index(axis=1) # 按列进行排序

In [ ]:
frame.sort_index(axis=1,ascending=False) # 按列进行排序

In [ ]:
obj=Series([4,7,-3,2])
obj.sort_values()

In [ ]:
obj=Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

In [ ]:
frame=DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
frame

In [ ]:
frame.sort_values(by='b')
obj=Series([7,-5,7,4,2,0,4])
obj.rank() # 默认情况下，rank是通过“为各组分配一个平均排名”的方式破坏平级关系的

In [ ]:
obj.rank(method='first') # 按值在原数据中出现的顺序分配排名

In [ ]:
obj.rank(ascending=False,method='max') # 按降序进行排名

In [ ]:
frame=DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})
frame

In [ ]:
frame.rank(axis=1)

In [ ]:
obj=Series(range(5),index=['a','a','b','b','c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df=DataFrame(np.random.randn(4,3),index=['a','a','b','b'])
df

In [ ]:
df.loc['b']

In [ ]:
df=DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                    index=['a','b','c','d'],columns=['one','two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1) # 按行进行求和

In [ ]:
df.idxmax() # 返回最大值的索引

In [ ]:
df.cumsum() # 累计求和

In [ ]:
df.describe() # 一次性产生多个汇总统计

In [ ]:
obj=Series(['a','a','b','c']*4)
obj.describe() # 对于非数值型数据，describe会产生另外一种汇总统计

In [ ]:
df.count() # 非NA值的数量

In [ ]:
df.idxmax() # 最大值的索引

In [ ]:
df.idxmin() # 最小值的索引

In [ ]:
df.quantile() # 计算样本的分位数（0到1）

In [ ]:
df.median() # 计算样本的中位数（50%分位数）

In [ ]:
df.std() # 标准差

In [ ]:
df.skew() # 样本值的偏度（三阶矩）

In [ ]:
df.kurt() # 样本值的峰度（四阶矩）

In [ ]:
df.cummin() # 累计最小值

In [ ]:
df.diff() # 计算一阶差分（对时间序列很有用）

In [ ]:
%pip install pandas-datareader
import pandas_datareader.data as web

In [ ]:
obj=Series(['c','a','d','a','a','b','b','c','c'])
uniques=obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values,sort=False)

In [ ]:
obj

In [ ]:
mask=obj.isin(['b','c'])
mask

In [ ]:
obj[mask]

In [ ]:
to_match=Series(['c','a','b','b','c','a'])
unique_vals=Series(['c','b','a'])
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data=DataFrame({'Qu1':[1,3,4,3,4],
                    'Qu2':[2,3,1,2,3],
                    'Qu3':[1,5,2,4,4]})
data

In [ ]:
result=data.apply(pd.value_counts).fillna(0)
result